.form-style {
    background-color: gray;
    display: flex;
    flex-direction: column;
}

.top-text {
    text-align: center;
}

.submit-button {
    color: white;
    background-color: greenyellow;
    border: none;
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    width: 80px;
}

.button-container {
    justify-content: center;
    display: flex;
    margin-top: 5px;
    margin-bottom: 50px;
}
